// scss/_mixin.scss

// Міксин для гнучких колонок
@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

// Міксин для гнучких рядків (з параметрами)
@mixin flex-row($justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

// Cпецифічний міксин для "space-between" та "center"
@mixin flex-between-center($gap: 0) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
}

// Міксин для border-radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

// Міксин для тіні
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}